/* src/components/FeaturedBrands.css доторх бүх стил */


.brands-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.brand-item img {
  height: 40px;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s ease;
}

.brand-item img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

/* ===== Урсдаг Текстийн Стил Эндээс Эхэлнэ ===== */

.promo-text-container {
  margin-top: 0px;
}

.ticker-wrap {
  width: 100%;
  overflow: hidden; /* Хальсан контентыг нуух "цонх" */
  background-color: #f2e4ca;
}

.ticker-move {
  display: flex; /* Текстүүдийг зэрэгцүүлэх */
  animation: ticker 25s linear infinite;
}

.ticker-item {
  flex-shrink: 0; /* Агшихаас сэргийлэх */
  padding: 1px 30px; /* Дээр доор болон хоорондын зай. 50px-г ихэсгэж, багасгаж зайгаа тохируулна */
  white-space: nowrap;
  font-size:21px;
  color: #000000;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-wrap:hover .ticker-move {
  animation-play-state: paused;
}