/* src/components/FilterBar.css */

.filter-bar {
  display: flex;
  justify-content: center; /* Элементүүдийг 2 тийш нь шахах */
  align-items: center; /* Босоо тэнхлэгт голлуулах */
  padding: 5px 0;
  border-bottom: 1px solid #bbbbbb; /* Доогуур нь зөөлөн зураас */
  margin-bottom: 30px; /* Доорх бүтээгдэхүүний жагсаалтаас зай авах */
}

.filter-bar-title h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: left; /* Гарчгийг зүүн талд шахах */
}

/* .filter-bar-title p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #757575;
  text-align: left; 
} */

